img {
  width: 30%;

  margin: calc(10% / 6);
}
nav {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 1.2em 0;
  margin-left: calc(10% / 6);
  border-bottom: solid 2px #f1f1f1f0;

  font-size: 1.5em;
  width: 30%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
